/* chat icon */
.minimized-view{
  background-color: black !important;
  color : white !important;
}
.composer-icon {
  background-image: url('https://drive.google.com/file/d/18ZdQtIGymntRVAQsxm_bIOYSJaal-loU/view?usp=sharing');
}
